# fly.toml app configuration file generated for leadoryapi on 2025-12-28T15:16:38-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'leadoryapi'
primary_region = 'ewr'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[mounts]
  source = "leadory_data"
  destination = "/data"

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
